.Filter {
	/* width: 100%; */
	max-width: 1390px;
	margin: 20px auto;
	/* padding: 0 25px; */
	height: 60px;
	border-radius: 10px;
	display: flex;
	justify-content: space-around;
	/* overflow: hidden; */
}

.input-container {
	width: 600px;
	display: flex;
	align-items: center;
	border-radius: 40px;
	margin-bottom: 10px;
	background-color: #d0e8e9;
}

.input-container input {
	width: 400px;
	outline: none;
	font-size: 20px;
	color: #5c480a;
	margin-left: 20px;
	border-top: none;
	border-left: none;
	border-right: none;
	background-color: transparent;
	transition: width 0.2s ease-in-out;
}

.input-container input:focus {
	width: 500px;
	border-bottom: 5px solid #71c9ce;
}

.input-container i {
	font-size: 20px;
	margin-left: 25px;
}
