select {
	padding: 15px;
	width: 200px;
  cursor: pointer;
	border-radius: 40px;
	align-items: center;
	margin-bottom: 10px;
	background-color: #d0e8e9;
}

.movies {
  width: 100%;
	height: 100vh;
	margin: 0 auto;
	max-width: 1390px;
}

.MoviePoster img {
	width: 100%;
	height: 350px;
	border-radius: 10px;
}

h1 {
	cursor: default;
	color: #5c480a;
}
