select {
	align-items: center;
	background-color: #d0e8e9;
	border-radius: 40px;
	margin-bottom: 10px;
	width: 200px;
	padding: 15px;
	cursor: pointer;
}

.movies {
	max-width: 1390px;
	width: 100%;
	height: 100vh;
	margin: 0 auto;
}

.MoviePoster img {
	width: 100%;
	height: 350px;
	border-radius: 10px;
}

h1 {
	color: #5c480a;
	cursor: default;
}
