.Navbar {
	background: #71c9ce;
}

.logo-title-wrapper {
	background: #71c9ce;
	height: 90px;
	max-width: 1350px;
	margin: 0 auto;
}

.logo-title-wrapper {
	display: flex;
}

.logo-title-wrapper span {
	display: flex;
	align-items: center;
	font-size: 35px;
	font-weight: bold;
	color: #5c480a;
	cursor: default;
}

.logo-title-wrapper .logo {
	height: 90px;
}

.logo-title-wrapper .logo img {
	height: 100%;
	border-radius: 50%;
}
